
/* Body */
*{
    box-sizing: border-box;
    margin: 0;
    padding : 0;
}
body{
    font-family: Raleway, serif;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}


/* Centrage et limitation de la largeur de la fenêtre */

.wrapper{
    margin: 0 auto;
    max-width: 992px;
}



/* Header */

.logo{
    width: 100px;
    margin: 25px;
}
.header{
    display: flex;
    justify-content: space-between;   
}



/*texte de présentation et slogan*/


.slogan{
    font-size: medium;
}
.slogan2{
    font-size: small;
}



/*liens de navigation*/

nav{
    padding-top: 30px;
}
nav a{
    border-top: 2px solid #F2F2F2;
    width: 200px;
    padding: 28px;

}
nav a:hover{
    color: #0065fc;
    border-top: 2px solid #0065fc;  
}



/*barre de recherche*/

.search-bar{
    display: flex;
    overflow: hidden;
    margin-top: 15px;
    align-items: center;
    height: 45px;
    width: 400px;
}
.search-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    border: 1px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}
input{
    height: 100%;
    width: 170px;
    border: 1px solid #F2F2F2;
    padding: 5px;
}
input:focus{
    outline: none;
}
form{
    display: flex;

}
#search-icon1{
    border: none;
    background-color: #0065fc; 
    height: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-weight: bold;
    color: white;
    font-size: medium;
}
#search-icon2{
    display: none;
}
button:hover{
    cursor : pointer;
}
i{
    font-size: large;
}


/*différents filtres*/

#search-icon{
    display: none;
}
.filter-bar{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 15px;
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin-top: 30px;
}
.bar a{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-left: 0;
    height: 47px;
    border-radius: 50px;
    gap : 10px;
    
}
.bar i{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    color: #0065fc;
    width: 47px;
    height: 47px;
    border-radius: 50px;
    flex-wrap: nowrap;
}
.bar p{
    margin-right: 25px;
}
.filter-bar i{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #DEEBFF;
    color: #0065FC;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}



/*infos supplémentaires*/

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    height: 55px;
}
.info h4{
    font-size: small;
    font-weight: 100;
}
.info i{
    color: #0065fc;
}



/*Section Hebergements*/

.hotels{
    display: flex;
    align-content: space-between;
    font-size: small;
    gap: 20px; 

}
#id-hosting{
    background-color: #F2F2F2;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.more{
    font-size: medium;
    font-weight: bold;
    margin: 25px;      
}
.more:hover{
    text-decoration: underline;
}
.hotels h2{
    margin: 20px;
    font-weight: bold;
}
.cards-hosting{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}
.card-hosting{
    display: flex;
    margin: 10px;
    background-color: rgb(248, 246, 246);
    border: 1px;
    border-radius: 15px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden; 
}
.card-image-hosting{
    border-radius: 12px 12px 0px 0px;
}
.card-image-hosting img{
    width: 200px;
    height: 90px;
    border-radius: 12px 12px 0 0; 
}
.card-content-hosting{
    min-height: 40px;
}
.card-content-hosting h3{
    font-size: small;
    margin: 6px;
}
.card-content-hosting p{
    font-size: x-small;
    margin: 6px;
}
.card-hosting i{
    font-size: smaller;
}



/*base de toutes les cartes*/

.card-logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color : blue;
    margin: 6px;
}
.star2{
    color: #0065FC;
    opacity: 0.3;
    display: flex;
}




/*Section Populaires */

.populars{
    background-color: #F2F2F2;
    width: 300px;
    border-radius: 15px;
    align-content: center;
}
.title-populars{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title-populars h2{
    margin-left: 0;
}
.cards-populars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-populars{
    display: flex;
    width: 240px;
    margin: 15px;
    background-color: rgb(248, 246, 246);
    border: 2px;
    border-radius: 15px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);   
}
.card-populars i{
    font-size: smaller;
}
.card-image-populars img{
    width: 100px;
    height: 100px;
    border-radius: 12px 0 0 12px; 
    margin: 0;
    padding: 0;
    float: left;   
    overflow: hidden;
    object-fit: cover;
}
.card-content-populars{ 
    height: 100px;
    display: flex; 
    flex-wrap: wrap;
}
.card-content-populars h3{
    font-size: small;
    margin: 6px;
    display: flex;
}
.card-content-populars p{
    font-size: x-small;
    margin: 6px;
}



/*Section Activites */

#id-activities{
    width: 100%;
    height: 440px;
}
.title-activites{
    margin: 20px;
}
.cards-activities{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}
.card-activities{
    width: 23%;
    background-color: rgb(248, 246, 246);
    border: 2px;
    border-radius: 15px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
    margin: 5px;
}
.card-activities-photofull img{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.card-activities-photo60 img{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 169px;
    object-fit: cover;
}
.card-activities-photo40 img{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 111px;
    object-fit: cover;
}
.card-activities-photo50 img{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 148px;
    object-fit: cover;
}
.card-content-activities{
    height: 80px;
}
.card-content-activities h3{
    display: flex;
    font-size: small;
    margin: 10px;
    align-items: center;  
}
.hfull{
    height: 98%;
}
.h50{
    height: 47%;
}
.h60{
    height: 53%;
}
.h40{
    height: 38%;
}



/*Footer*/

.footer{
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    gap: 130px;
    padding: 30px;
    margin-top: 30px;
}
.footer h3{
    margin: 5px;
    margin-bottom: 15px;
    font-size: medium;
}
a{
    color: black;
    margin: 5px;
    font-size: smaller;
}
a:hover{
    text-decoration: underline;
}
.about{
    display: flex;
    flex-direction: column;
}
.quality-charter{
    display: flex;
    flex-direction: column;  
}
.help{
    display: flex;
    flex-direction: column;
}



/*Media Queries*/

@media screen and (max-width: 768px){
    
    .wrapper{
        margin: 0 15px;
    }
    /*header*/
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        height: auto;
    }
    /*navigation*/
    nav{
        display: flex;
        width: 100%;
    }
    nav a{
        border-bottom: 3px solid #F2F2F2;
        border-top: none;
        font-size: medium;
        padding-bottom: 15px ;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav a:hover{
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }
    /*présentation*/
    .slogan{
        display: flex;
        justify-content: center;
        font-size: x-large;
        margin: 20px;
    }
    .slogan2{
        display: flex;
        margin: 20px;
        font-size: medium;
    }
    /*barre de recherche*/
    .search-bar{
        display: flex;
        justify-content: center;
        height: 50px;
        width: 100%;
    }
    .search-logo{
        height: 50px;
        width: 50px;
    }
    #search-icon1{
        display: none;
    }
    #search-icon2{      
        background-color: #0065fc; 
        height: 100%;
        width: 50px;
        border: none;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    input{
        height: 50px;
        width: 300px;
        font-size: medium;
        font-weight: bold;
        border-right: none;
        padding-left: 10px;
        margin-right: -10px;
    }

    .filter-bar h3{
        width: 100%;
    }
    .filter-bar{
        flex-direction: row;
        margin: 18px;
        margin-top: 30px;
    }
    /*information*/
    .info{
        margin: 20px;
    }
    .info h4{
        font-size: medium;
    }
    /*section hotels*/
    .hotels{
        width: 100%;
        flex-direction: column-reverse;
    }
    /*section populaire*/
    .populars{
        width: 100%;
        border-radius: 0;
    }
    .populars a{
        width: 100%
    }
    .title-populars{
        justify-content: space-between;
        margin: 15px;
    } 
    .cards-populars{
        width: 100%;
        padding: 20px;
    }
    .card-populars{
        width: 100%;
        height: 170px;
    }
    .card-image-populars img{
        width: 40%;
        height: 160px;  
    }
    .card-content-populars{
        flex-direction: column;
    }
    /*section hébergements*/
    #id-hosting{
        background-color: white;
        width: 100%;
    }
    #id-hosting img{
        width: 100%;
        height: 125px;
        object-fit: cover;
    }
    #id-hosting h3{
        font-size: large;
    }
    #id-hosting p{
        font-size: medium;
    }
    #id-hosting i{
        font-size: small;
    }
    .cards-hosting{
        width: 100%;
        padding: 10px;
    }
    .card-hosting{
        height: 220px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .card-hosting a{
        height: 100%;
    }
    /*section activités*/
    #id-activities{
        height: auto;
        align-items: center;
    }
    .cards-activities{
        flex-wrap: nowrap;
        width: auto;
        height: auto;
        padding: 20px;
    }
    .card-activities{
        height: 220px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px;
        background-color: rgb(248, 246, 246);
        border: 1px;
        border-radius: 15px;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
        overflow: hidden; 
    }
    .card-activities img{
        height: 170px;
    }
    .card-activities h3{
        font-size: medium;
        margin: 10px;
    }
    /*footer*/
    .footer{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    footer h3{
        margin-top: 30px;
    }
}   
    

